<div class="container">
  <form action="/">
    <div class="row mb-3">
      <label for="nombreDelDeporte" class="col-sm-2 col-form-label">Nombre del Deporte</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombreDelDeporte" placeholder="Nombre del Deporte">
      </div>
    </div>
    <div class="row mb-3">
      <label for="provincia" class="col-sm-2 col-form-label">Provincia</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="provincia" placeholder="Provincia">
      </div>
    </div>
    <div class="row mb-3">
      <label for="ciudad" class="col-sm-2 col-form-label">Ciudad</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
      </div>
    </div>
    
  </form>
</div>
