<div style="background-color: #84d087; /* Light Green */
            padding: 20px;
            height: 100vh;">

  <div class="container mt-3" style="background-color: #D2B48C; padding: 20px;">
    <h1 style="color: #E58E00;">Inicia sesión</h1>

    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input value="{{values.email}}" name="email" type="email" class="form-control" id="email" placeholder="name@example.com" style="background-color: #F5F5DC; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input name="password" type="password" class="form-control {{#if error}}is-invalid{{/if}}" id="password" style="background-color: #F5F5DC; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
        {{#if error}}
          <div class="invalid-feedback" style="color: red;">
            {{error}}
          </div>
        {{/if}}
      </div>

      <button class="btn btn-primary" style="background-color: #4CAF50; /* Green */
                                                border: none;
                                                color: black;
                                                padding: 15px 32px;
                                                text-align: center;
                                                text-decoration: none;
                                                display: inline-block;
                                                font-size: 16px;
                                                margin: 4px 2px;
                                                cursor: pointer;">Enviar</button>
    </form>
  </div>
</div>
