@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');




.mitadSuperior {
    color: red;
    height: 50vh;
}
.mitadInferior {
    height: auto;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden; /* Evita el desplazamiento vertical */
    font-family: 'Roboto', sans-serif;
    
    
}
.fondo {
    height: 100vh;
    background-image: url(../img/fondoDeImagen.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar {
    background-color: #464646;
}
.nav-link {
    color: #E58E00; /* Color amarillo */
  }
